<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @task_group.task_id %>
</p>

<p>
  <b>User:</b>
  <%= @task_group.user_id %>
</p>

<p>
  <b>Role:</b>
  <%= @task_group.role_id %>
</p>


<%= link_to 'Edit', edit_task_group_path(@task_group) %> |
<%= link_to 'Back', task_groups_path %>
